{% extends "__layout.html" %}
{% block content %}
    <div class="row mb-2 text-center">
        <h1>Спортивное программирование - это</h1>
    </div>
    
    <div class="row mb-2">
       
        <div class="text-center">
            <figure>
                <img src="/static/sp.jpg" alt="Программисты смеются" class="image">
                <figcaption class="text-advanced">куда они смотрят, монитор ведь выключен</figcaption>
            </figure>
        </div>
        
    </div>    
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Спортивное программирование</b> - захватывающий и динамичный вид 
        соревновательной деятельности, который объединяет любовь к программированию,
        логике и решению сложных алгоритмических задач. Этот спорт привлекает
        талантливых программистов со всего мира и предоставляет им возможность
        проявить свои навыки в решении задач в ограниченном времени.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            Одно из самых престижных соревнований в области спортивного 
        программирования - Международный Кубок по Программированию 
        <a href="https://icpc.global/" target="_blank" >ACM ICPC</a>.
        Это международное мероприятие, где команды из трех студентов решают 
        сложные задачи в области информатики. Участники состязаются в написании 
        эффективных и правильных программ на различных языках программирования.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            Один из ключевых навыков в спортивном программировании - умение быстро
        и эффективно разрабатывать алгоритмы. Участники должны уметь анализировать
        задачи, выделять основные аспекты и находить оптимальные решения.
        Скорость выполнения задач также играет важную роль, поскольку участникам
        часто предоставляется ограниченное время.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            Соревнования по спортивному программированию также поддерживают разнообразие
        языков программирования, что позволяет участникам использовать тот язык,
        в котором они чувствуют себя наиболее уверенно. Это может включать такие языки,
        как C++, Java, Python и другие.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            Помимо ACM ICPC существует множество других соревнований и онлайн-платформ,
            таких как <a href="https://codeforces.com/" target="_blank" >Codeforces</a>,
            <a href="https://www.topcoder.com/" target="_blank" >Topcoder</a> 
            и <a href="https://atcoder.jp/" target="_blank" >AtCoder</a>. Они предоставляют программистам
            возможность улучшать свои навыки, состязаться с единомышленниками и развиваться
            в области алгоритмов и программирования.Спортивное программирование не только позволяет
            людям проявить свою конкурентную сущность, но также способствует обмену знаниями
            и опытом между участниками, что делает эту активность особой
            и захватывающей для всех, кто разделяет страсть к программированию и алгоритмам.    
        </div>
        <div class="offset-0 col-2"></div>
    </div>
{% endblock %}





