{% extends "__layout.html" %}
{% block content %}
    <div class="row mb-2 text-center">
        <h1>Задания</h1>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Языки программирования</b>: Средства выражения алгоритмов в виде программ, написанных на конкретных языках, таких как C++, Java, Python и другие.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Алгоритм</b>: Последовательность шагов для решения задачи.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Натуральные числа</b>: Положительные целые числа, начиная с 1.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Ряд Фибоначчи</b>: Числовой ряд, где каждое следующее число равно сумме двух предыдущих (например, 1, 2, 3, 5, 8, ...).
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <b>Простые числа</b>: Числа, имеющие только два делителя: 1 и само число.
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    </div>
{% endblock %}