{% extends "__layout.html" %}
{% block content %}
    <div class="row mb-2 text-center">
        <h1>Задания</h1>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <h2>Задача 1</h2>
            <b>Числа, кратные 3 или 5</b>: 
            Если выписать все <a href="http://127.0.0.1:5000/glossary" target="_self">натуральные числа</a> меньше 10, кратные 3 или 5,
            то получим 3, 5, 6 и 9. Сумма этих чисел равна 23.
            Найдите сумму всех чисел меньше 1000, кратных 3 или 5.
            <h2>Ответ 1: 233168</h2>
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <h2>Задача 2</h2>
            <b>Четные числа Фибоначчи</b>: 
            Каждый следующий элемент <a href="http://127.0.0.1:5000/glossary" target="_self">ряда Фибоначчи</a>
            получается при сложении двух предыдущих. Начиная с 1 и 2, первые 10 элементов будут:
            1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
            Найдите сумму всех четных элементов ряда Фибоначчи, которые не превышают четыре миллиона.
            <h2>Ответ 2: 4613732</h2>
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            <h2>Задача 3</h2>
            <b>Наибольший простой делитель</b>: 
            Простые делители числа 13195 - это 5, 7, 13 и 29.
            Каков самый большой делитель числа 600851475143, являющийся 
            <a href="http://127.0.0.1:5000/glossary" target="_self">простым числом</a>?
            <h2>Ответ 3: 6857</h2>
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    <div class="row mb-2">


        <div class="text-center">
            <figure>
                <img src="/static/tasks.jpg" alt="скелетон программирует" class="image">
                <figcaption class="text-advanced">чел зарешался</figcaption>
            </figure>
        </div>


    </div>
{% endblock %}



