{% extends "__layout.html" %}
{% block content %}
    <div class="row mb-2 text-center">
        <h1>Обо мне</h1>
    </div>
    <div class="row mb-2 font-size">
        <div class="offset-0 col-2"></div>
        <div class="col-8 text-center">
            Приветствую всех энтузиастов программирования на нашем сайте! Меня зовут Никита,
            и я - основатель этого увлекательного проекта для истинных ценителей кода и алгоритмов.
            Спортивное программирование стало неотъемлемой частью моей жизни, и я создал этот ресурс, 
            чтобы поделиться своим вдохновением и страстью к этому увлекательному миру. 
            Здесь вы найдете не только информацию о турнирах и соревнованиях, но и задачи, 
            которые помогут вам развивать свои навыки.
            Когда-то я сам сталкивался с вызовами спортивного программирования, 
            и эти испытания сделали меня сильнее. Теперь я стремлюсь поддерживать сообщество программистов. 
            На этом сайте вы найдете не только задачи, но и интересные факты о мире кода.
            Не важно, являетесь ли вы опытным разработчиком или начинающим программистом, 
            здесь есть место для каждого. Давайте вместе углубимся в увлекательный мир 
            спортивного программирования!
        </div>
        <div class="offset-0 col-2"></div>
    </div>
    
    


        <div class="text-center">
            <figure>
                <img src="/static/1.jpg" alt="Программисты смеются" class="image">
                <figcaption class="text-advanced">это я</figcaption>
            </figure>
        </div>


    </div>
{% endblock %}