{% extends "__layout.html" %}
{% block content %}
    <div class="row mb-2 text-center">
        <h1>Мнение экспертов(мое мнение) о спортивном программировании</h1>
    </div>
        <div class="row mb-2">
            <div class="text-center">
                <figure>
                    <img src="/static/plusminus.jpg" alt="Плюсы и минусы" class="image">
                    <figcaption class="text-advanced">не упади</figcaption>
                </figure>
            </div>
        </div> 
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Плюсы:</b>
            </div>
            <div class="offset-0 col-2"></div>
        </div> 
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">    
                <b>Развитие алгоритмического мышления:</b> Спортивное программирование 
                ставит перед участниками задачи, требующие глубокого алгоритмического
                мышления и оптимизации кода. Это способствует развитию критического 
                мышления и улучшению навыков анализа.
            </div>
            <div class="offset-0 col-2"></div>
        </div> 
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Коллективная работа:</b> Многие соревнования проводятся в формате команд,
                что способствует развитию навыков коллективной работы, коммуникации 
                и распределения задач внутри группы.
            </div>
            <div class="offset-0 col-2"></div>
        </div> 
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Широкие возможности для обучения:</b>  Спортивное программирование предоставляет
                доступ к разнообразным задачам, охватывающим различные области информатики. 
                Участники могут учиться новым алгоритмам, структурам данных и языкам программирования.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Профессиональные возможности:</b> Успешные участники часто привлекают 
                внимание технологических компаний, и многие из них находят 
                профессиональную занятость в ведущих IT-компаниях.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Минусы:</b>
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Изоляция от реальных проектов:</b> Время, потраченное на решение
                алгоритмических задач, может не приносить прямой практической
                пользы в реальных проектах. Спортивное программирование часто фокусируется на определенных типах задач, которые могут отличаться от задач в реальных проектах.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Стресс и конкуренция:</b> Соревновательный характер спортивного
                программирования может создавать стресс и конкуренцию,
                что может быть не всем по вкусу. Некоторые люди предпочитают более коллаборативные формы работы.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Освоение языков программирования:</b>  Для успешного участия
                в соревнованиях необходимо хорошее владение языками программирования
                и особыми техниками оптимизации. Это может создать барьер для новичков.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-2"></div>
            <div class="col-8 text-center">
                <b>Ограниченность видов задач:</b> Спортивное программирование,
                хотя и охватывает множество областей, всё же может быть
                ограничено определенными типами задач, что может сузить
                круг интересов участников.
            </div>
            <div class="offset-0 col-2"></div>
        </div>
        <div class="row mb-2 font-size">
            <div class="offset-0 col-3"></div>
            <div class="col-6 text-center external-link">
                <b><a href="https://www.youtube.com/watch?v=3LX9sXjwMuQ&t=1s&ab_channel=%D0%AF%D0%BD%D0%B4%D0%B5%D0%BA%D1%81" target="_blank" >
                    Помогает ли опыт в спортивном программировании в работе?</a></b>
            </div>
            <div class="offset-0 col-3"></div>
        </div>
    </div>
    
{% endblock %} 